@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&displayswap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}
.section
{
position: relative;
width: 100%;
min-height: 100vh;
padding: 100px;
display: flex;
justify-content: space-between;
align-items: center;
background-color: #fff;
}

header
{
    position: relative;
    top: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .Logo
{ 
    position: relative;
    max-width: 200px;
}

header ul
{
    position: relative;
    display: flex;
}

header ul li
{
    list-style: none;
}

header ul li a
{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
.content
{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textbox
{
    position: relative;
    max-width: 600px;
}
.content .textbox h2
{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textbox h2 span
{
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}
.content .textbox a
{ 
    display:inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .imgBox
{
  width: 600px;
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}
.content .imgBox img
{
  max-width: 340px;
}
.thumb
{
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}
.thumb li
{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
}
.thumb li :hover
{
  transform: translateY(-15px);
}

.thumb li img
{
  max-width: 60px;
}
.sci
{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sci li
{
  list-style: none;
}
.sci li a
{
  display: inline-block;
  margin: 5px 0;
  transform: scale(0.6);
  filter: invert(1);
}
.circle
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #017143;
  clip-path: circle(600px at right 800px);
}
@media (max-width:991px)
{
header
{
  padding: 20px;
}
header .Logo
{
  max-width: 60px;
}
header ul 
{
  display: none;
}
.toggle
{
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url(img/menu.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  filter: invert(1);
  z-index: 11;
}
.toggle.active
{
  background: url(img/close.png);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}
header ul.navigator.active
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  z-index: 10;
}
header ul li a 
{
  margin: 40px;
  font-size: 20px;
}
section
{
  padding: 20px;
}
.content
{
  flex-direction: column;
  margin-top: 100px;
}
.content .textbox h2 
{
  font-size: 2.5em;
  margin-bottom: 15px;
}
.content .textbox
{
  max-width: 100%;
}
.content .imgBox
{
  max-width: 100%;
  justify-content: center;
}
.content .imgBox img
{
  max-width: 200px;
}
.thumb li img 
{
  max-width: 40px;
}
.circle 
{
  clip-path: circle(400px at center bottom);
}
.sci
{
  background: #017143;
  right: 0;
  width: 50px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
}